{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}- Ajouter un tutoriel {% endblock %}

{% block body %}

    {{ parent() }}

    <a href="{{ path('sy_tutos') }}">Retour à la liste des tutoriels</a>

    <h1>Ajout d'un tutoriel</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}