{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Modifier Tutoriel {% endblock %}

{% block body %}

    {{ parent() }}
    <h1>Modification d'un tutoriel</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}