{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Tutoriels{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Tutoriels</h1>

    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégories
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item"
               href="{{ path('sy_tutos') }}">
                Tout afficher
            </a>
            {% for category in categories %}
                <a class="dropdown-item"
                   href="{{ path('sy_tutos', {'category': category.slug}) }}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('sy_addTuto') }}" type="button" class="btn btn-success">Ajouter</a>

    <div class="list-group col-sm-10 offset-sm-1">

        {% for tuto in tutos %}

            <a href="{{ path('sy_tuto', {'slug': tuto.slug}) }}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ tuto.title }}</h5>
                    <small>
                        {% if tuto.editDate == null %}
                            {{ tuto.date|date('d.m.Y') }}
                        {% else %}
                            {{ tuto.editDate|date('d.m.Y') }}
                        {% endif %}
                    </small>
                </div>
                <p class="mb-1">
                    {{ tuto.content|slice(0, 100)|raw }}...
                </p>

                <small>Par {{ tuto.author }}</small>

                {% if app.user == tuto.author %}
                    <a href="{{ path('sy_editTuto', {'id': tuto.id}) }}"
                       class="float-right text-success">
                        <i class="material-icons">mode_edit</i>
                    </a>
                {% endif %}
            </a>

        {% endfor %}

    </div>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path('sy_tutos', {'category': category, 'page': page-1}) }}"
                   tabindex="-1">Précédent</a>
            </li>

            {% for i in 1..maxPage %}
                <li class="page-item {% if page == i %}active{% endif %}">
                    <a class="page-link"
                       href="{{ path('sy_tutos', {'category': category, 'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            <li class="page-item {% if page == maxPage %}disabled{% endif %}">
                <a class="page-link" href="{{ path('sy_tutos', {'category': category, 'page': page+1}) }}">Next</a>
            </li>
        </ul>
    </nav>

{% endblock %}