{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Tutoriel - {{ tuto.title }}{% endblock %}

{% block body %}

    {% for message in app.flashes('forbidden') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ app.request.headers.get('referer') }}">Retour</a>

    {% if app.user == tuto.author %}
        <a href="{{ path('sy_editTuto', {'id': tuto.id}) }}"
           type="button"
           class="btn btn-primary col-sm-2">Modifier</a>
    {% endif %}

    <h1>{{ tuto.title }}</h1>

    <div>
        Ecrit par {{ tuto.author }} <br>
        Publié le {{ tuto.date|date('d.m.Y') }} <br>
        {% if tuto.editDate != null %}
            Modifié le {{ tuto.editDate|date('d.m.Y') }}
        {% endif %}
    </div>

    <div>
        {% for category in tuto.categories %}
            <a href="{{ path('sy_tutos', {'category': category.slug}) }}" type="button" class="btn btn-info">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>

    <div class="jumbotron">
        {{ tuto.content|raw }}
    </div>

{% endblock %}