{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un post{% endblock %}

{% block body %}

    <a href="{{ path('sy_forum') }}">Retour à la liste des posts</a>

    <h1>Ajouter un post</h1>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
