{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Post - {{ post.title }}{% endblock %}

{% block body %}

    {% for message in app.flashes('forbidden') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ app.request.headers.get('referer') }}">Retour</a>

    {% if app.user == post.author %}
        <a href="{{ path('sy_edit_post', {'id': post.id}) }}"
           type="button"
           class="btn btn-primary col-sm-2">Modifier</a>
    {% endif %}

    <h1>{{ post.title }}</h1>

    <div>
        Ecrit par {{ post.author }} <br>
        Publié le {{ post.date|date('d.m.y') }} à {{ post.date|date('H:i') }}<br>
    </div>

    <div>
        {% for category in post.categories %}
            <a href="{{ path('sy_forum', {'category': category.slug}) }}" type="button" class="btn btn-info">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>

    <div class="jumbotron">
        {{ post.content|raw }}
    </div>

    <p>
        {% if post.tuto != null %}
            Lié au tuto : <a href="{{ path('sy_tuto', {'slug': post.tuto.slug}) }}">{{ post.tuto.title }}</a>
        {% endif %}
        {% if post.project != null %}
            Lié au projet : <a href="{{ path('sy_agenda') }}">{{ post.project }}</a>
        {% endif %}
    </p>

    <h2>Ajouter un commentaire</h2>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div id="comments">
        {% for comment in comments %}

            {% set myVote = user.getVoteOnComment(comment[0]) %}

            <div class="jumbotron">
                <p>
                    {{ comment[0].author }}
                    {{ comment[0].date|date('d.m.y H:i') }}
                    {{ comment[0].content|raw }}
                </p>
                <i class="material-icons vote {% if myVote == 'like' %}text-success{% endif %} "
                   data-comment="{{ comment[0].id }}"
                   data-like="true">
                    thumb_up
                </i>{% if comment['nbVotesPos'] is not null %}{{ comment['nbVotesPos'] }}{% else %}0{% endif %}
                <i class="material-icons vote {% if myVote == 'dislike' %}text-danger{% endif %}"
                   data-comment="{{ comment[0].id }}"
                   data-like="false">
                    thumb_down
                </i>{{ comment['nbVotes'] - comment['nbVotesPos'] }}

                <div id="result"></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('click', 'i.vote', function(){
            $.ajax({
                type: "POST",
                url: '{{ (path('sy_add_like')) }}',
                dataType: "json",
                data: {
                    "commentId": $(this).data('comment'),
                    "like": $(this).data('like')
                },
                async: true,
                success: function (data)
                {
                    if (data.output = 'refresh') {
                        $("#comments").load(" #comments");
                    }
                }
            });
            return false;
        });
    </script>
{% endblock %}