{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Agenda{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fullcalendar.print.min.css') }}" media='print' />

{% endblock %}


{% block body %}
<h1 class="gloriafont title-center">AGENDA {{ app.user.classroom }}</h1>

    <a href="{{ path('sy_agenda_add') }}" class="btn btn-primary">Ajouter</a>
    <div id="calendar"></div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/fullcalendar.js') }}"></script>
    <script src="{{ asset('assets/js/fr.js') }}"></script>
    <script>
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                locale: 'fr',
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'month,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                firstDay: 1,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {% for project in projects %}
                        {
                            title: '{{ project.course.name }}',
                            start: '{{ project.date|date('Y-m-d') }}',
                            description: '{{ project.description }}'
                        },
                     {% endfor %}
                ],
                eventRender: function (event, element) {
                    element.popover({
                        title: event.course.name,
                        placement: 'bottom',
                        content: event.description
//                        trigger: 'hover'
                    });
                }
            });

        });

    </script>

{% endblock %}

