{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} - Agenda{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css">
{% endblock %}


{% block body %}
    <a href="{{ path('sy_agenda_add') }}" class="btn btn-primary">Ajouter</a>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
{% endblock %}

